<footer class="page-footer bg-dark">


  <div class="bg-success">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 text-center">
          <a href="#"><i class="fab fa-facebook-f text-white mr-4"></i></a>
          <a href="#"><i class="fab fa-twitter text-white mr-4"></i></a>
          <a href="#"><i class="fab fa-instagram text-white"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center text-md-left mt-5">
    <div class="row">

      <div class="col-md-4 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">About Us</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width : 125px;height : 2px;">
        <p class="mt-2" style="color : white">GameSanctuary is an e-commerce website where you can buy or rent all the latest pc and console games. We provide very quick delivery of our product within dhaka city. So, what are you waiting for, order now!</p>
      </div>


      <div class="col-md-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width : 85px;height : 2px;">

        <ul class="list-unstyled">
          <li class="my-2"> <a href="/platform/PlayStation%204">PS4 Games</a></li>
          <li class="my-2"> <a href="/platform/PlayStation%203">PS3 Games</a></li>
          <li class="my-2"> <a href="/platform/Xbox%20One">Xbox One Games</a></li>
          <li class="my-2"> <a href="/platform/Xbox%20360">Xbox 360 Games</a></li>
          <li class="my-2"> <a href="/platform/PC">PC Games</a></li>
        </ul>
      </div>

      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Useful Links</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width : 110px;height : 2px;">
        <ul class="list-unstyled">
          <li class="my-2"> <a href="/">Home</a></li>
          <li class="my-2"> <a href="#">Buying And Renting Policy</a></li>
          <li class="my-2"> <a href="#">Payment Methods</a></li>
        </ul>
      </div>


      <div class="col-md-3 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width : 75px;height : 2px;">
        <ul class="list-unstyled">
          <li class="my-2 footer-content"> <i class="fas fa-home"></i> Block A, House 1, Rd 1, Dhaka 1216</li>
          <li class="my-2 footer-content">  <i class="far fa-envelope"></i> lostgen312@gmail.com</li>
          <li class="my-2 footer-content"> <i class="fas fa-phone"></i> +8801758250560</li>
        </ul>
      </div>
    </div>

    <div class="footer-copyright text-center py-3">
      <p style="color : #a6a6a4">&copy; 2020 All rights reserved Design and Developed by - Mohammad Hasib Ullah</p>
    </div>



</footer>
