<%# Navigation Bar %>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Game Sanctuary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Platform
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/platform/PlayStation%204">PlayStation 4</a>
          <a class="dropdown-item" href="/platform/Xbox%20One">Xbox One</a>
          <a class="dropdown-item" href="/platform/PlayStation%203">PlayStation 3</a>
          <a class="dropdown-item" href="/platform/Xbox%20360">Xbox 360</a>
          <a class="dropdown-item" href="/platform/PC">PC</a>
          <a class="dropdown-item" href="/platform/Nintendo%20Switch">Nintendo Switch</a>
          <a class="dropdown-item" href="/platform/Nintendo%20Wii%20U">Nintendo Wii U</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/genre/Action">Action</a>
          <a class="dropdown-item" href="/genre/Arcade">Arcade</a>
          <a class="dropdown-item" href="/genre/Role%20Playing">Role Playing</a>
          <a class="dropdown-item" href="/genre/Shooter">Shooter</a>
          <a class="dropdown-item" href="/genre/Racing">Racing</a>
          <a class="dropdown-item" href="/genre/Puzzle">Puzzle</a>
          <a class="dropdown-item" href="/genre/Strategy">Strategy</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sort/Rating">Rating</a>
          <a class="dropdown-item" href="/sort/Price">Price</a>
        </div>
      </li>



    </ul>
    <form action="/search" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" class="search" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <%  if(req.user){ %>
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= req.user.name %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if(req.user.admin){ %>
        <a class="dropdown-item" href="/admin/adminPanal">Admin Panal</a>
        <% } %>
        <a class="dropdown-item" href="/users/editProfile">Edit Profile</a>
        <a class="dropdown-item" href="/users/logout">logout</a>
      </div>
    </div>
    <%  }else{ %>
    <a href="/users/login" type="button" class="btn btn-primary ml-1">login</a>
    <%  } %>
  </div>
</nav>
