<%- include('./partials/navbar.ejs') %>

<div class="container">
  <div class="policy-header">
    <h3>Payment Methods</h3>
  </div>

  <div class="policy-body">
    <h4>Cash On Delivery</h4>
    <p>If you select cash on delivery as payment method, you would have to give the cost to our delivery man when you recieve the product.</p>
    <h4>Bkash</h4>
    <p>You would have to send the cost to this number : +8801786534915. Click <a class="policy-reg" href = "https://www.bkash.com/products-services/send-money"><u>here</u></a> to see how to send money using Bkash.</p>
  </div>

</div>

<%- include('./partials/footer.ejs') %>
