<%- include('./partials/navbar.ejs') %>

<div class="container">
  <div class="policy-header">
    <h3>Buying And Renting Policy</h3>
  </div>

  <div class="policy-body">
    <h4>How To Buy</h4>
      <ul>
        <li>First of all, you have to be loggin in. If you don't have an account, please <a class="policy-reg" href="/users/register"><u>register</u></a>.</li>
        <li>Choose the product and click on buy.</li>
        <li>After that, you will be taken to a page where all the info related to the order will be shown.</li>
        <li>Fill in the delivery address carefully and select your preferred payment method between Bkash and Cash On Delivery.</li>
        <li>If you chose Bkash as payment method, send the exact product cost to this number : +8801786534915.</li>
        <li>Enter the transaction id of the bkash transaction before confirming order.</li>
        <li>If you chose cash on delivery, you don't need to enter transaction id. Please keep the cost money prior to delivery of the product.</li>
        <li>Check your email for order confirmation and further updates.</li>
      </ul>

      <h4>How To Rent</h4>
        <ul>
          <li>First of all, you have to be loggin in. If you don't have an account, please <a class="policy-reg" href="/users/register">register</a>.</li>
          <li>Choose the product and click on rent.</li>
          <li>After that, you will be taken to a page where all the info related to the order will be shown.</li>
          <li>Fill in the delivery address carefully and select your preferred payment method between Bkash and Cash On Delivery.</li>
          <li>If you chose Bkash as payment method, send the exact product cost to this number : +8801786534915.</li>
          <li>Enter the transaction id of the bkash transaction before confirming order.</li>
          <li>If you chose cash on delivery, you don't need to enter transaction id. Please keep the cost money prior to delivery of the product.</li>
          <li>Renting will cost only 20% of the actual price of the product. While renting, you would have to pay the full amount, but upon returning the product before rent is expired, the 80% cashback money will be sent to you.</li>
          <li>Rent expires in 30 days after confirmation of order. So, be sure to return product before rent expires to recieve the cashback money.</li>
          <li>Check your email for order confirmation and further updates.</li>
        </ul>

  </div>

</div>

<%- include('./partials/footer.ejs') %>
